@import "tailwindcss";
@plugin "daisyui";

a.active{
  @apply text-[#7c3aed] font-semibold rounded-3xl
}

.btn-all{
  border: 1px solid #7c3aed;
  width: 100%;
  border-radius: 5px;
  
}

.btn-all:hover {
  background-color: #7c3aed;
  color: white;
}

.btn-dtls{
  border: 1px solid #7c3aed;
  border-radius: 5px;
}

.btn-dtls:hover{
  background-color: #7c3aed;
  color: white;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .dark a.active {
    @apply text-[#a78bfa] font-semibold rounded-3xl
  }
}